@model docbox.Models.DX_FILES

@{
    ViewBag.Title = "Delete";
     Layout = "~/Views/Shared/_DocumentLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<form class="form-horizontal">
<div class="control-group">
<label class="control-label">File Name</label>
    
  <div class="controls">   @Html.DisplayFor(model => model.filename)</div>
  </div>
  <div class="control-group">
        <label class="control-label">Owner</label>
    <div class="controls">
        @Html.DisplayFor(model => model.DX_USER1.fname)
    </div>
    </div>
    <div class="control-group">
        <label class="control-label">Size</label>
   <div class="controls">
        @Html.DisplayFor(model => model.size)
    </div>
    </div>

    <div class="control-group">
        <label class="control-label">Locked By</label>
    <div class="controls">
        @Html.DisplayFor(model => model.DX_USER.fname)
    </div>
    </div>

    <div class="control-group">
        <label class="control-label">Created on </label>
    <div class="controls">
        @Html.DisplayFor(model => model.creationdate)
 </div>
    </div>
</form>
@using (Html.BeginForm())
{
  <div class="control-group">
            <div class="controls">
        <input type="submit" value="Delete" class="btn btn-primary"/>
</div>
                        </div>
}
