@model docbox.Models.DX_FILES

@{
    ViewBag.Title = "Delete";
     Layout = "~/Views/Shared/_DocumentLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <div class="control-group">
    <div class="display-label">File Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.filename)
    </div>
    </div>
    <div class="display-label">Owner</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DX_USER1.fname)
    </div>

    <div class="display-label">Size</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.size)
    </div>

    <div class="display-label">Locked By</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DX_USER.fname)
    </div>

    <div class="display-label">Created on </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creationdate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "ListDocuments")
    </p>
}
