@model List<docbox.Models.FileModel>
@{
    ViewBag.Title = "Department Documents";
    Layout = "~/Views/Shared/_DocumentLayout.cshtml";
}
<script language="javascript" type="text/javascript">
    function updateChk(parameter) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckInOutDept", "Documents")',
            data: { fileid: parameter },
            success: function () {
            }
        })
    }
 </script>
@{ var grid = new WebGrid(Model, canPage: true, rowsPerPage: 10);
   grid.Pager(WebGridPagerModes.NextPrevious); 
}
<div class="navbar">
    <div>
        @using (Html.BeginForm("DocAction", "Documents", FormMethod.Post))
        {
            IDictionary<string, string> searchConditions = new Dictionary<string, string>();

            if (TempData["SearchConditions"] != null)
            {
                searchConditions = TempData["SearchConditions"] as Dictionary<string, string>;
            }

            this.TempData["SearchConditions"] = searchConditions;

            string conditions1 = searchConditions.Keys.Contains("fileName") ? searchConditions["fileName"] : string.Empty;
            <div class="container">
                <ul class="nav">
                    <li class="active"><a class="brand" href="#">DepartmentFiles</a> </li>
                    <li class="divider-vertical"><input id="txtSearch" type="text" name="fileName" class="search-query pull-left" placeholder="Search" />               
                    <label for="search" class="btn btn-link"><i class="icon-search"></i>Search</label>
                        <input id="search" type="submit" name="action:SearchMyDeptDocs" value="Go" class="hidden" /></li>
                
                </ul>
                @grid.GetHtml(tableStyle: "webGrid",
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        htmlAttributes: new { id = "myGrid", name = "myGrid" },
                        columns: grid.Columns(
                            grid.Column(format: @<text><input class="check-box" name="Select" type="checkbox" value=@item.FileID /></text>),
                            grid.Column("FileName", header: "File Name", format: @<text>@Html.ActionLink((string)item.FileName,
                                        "DeptDocDetails", "Documents", new { @fileId = item.FileId }, null)</text>, style:"width='20px'"),
                            grid.Column("Description"),
                            grid.Column("FileVersion", header: "File Version"),
                            grid.Column("Owner", header: "Created By"),
                            grid.Column("CreationDate", header: " Created On"),
                            grid.Column(header: "CheckIn/Out", format: @<text> 
                                @if (item.isLocked == true && item.LockedBy != docbox.Utilities.SessionKeyMgmt.UserId)
                                {
                                    @Html.CheckBox("checkLock", true, new { name = "checkLock", id = "checkLock", value = item.FileID, disabled = "disabled", onchange = "updateChk('" + item.FileID + "')" });
                                }
                                else
                                { 
                                    @Html.CheckBox("checkLock", item.IsLocked == true ? true : false, new { name = "checkLock", id = "checkLock", value = item.FileID, onchange = "updateChk('" + item.FileID + "')" });
                                }  </text>), 
                            grid.Column(format: (item) => Html.ActionButton("", "UpdateDepartmentDocs", "Documents", "icon-refresh", new { @fileId = item.FileID })),
                            grid.Column(format: (item) => Html.ActionButton("", "DeptDocEdit", "Documents", "icon-pencil", new { @fileId = item.FileID })),
                            grid.Column(format: (item) => Html.ActionButton("", "DeleteDepartmentDocument", "Documents", "icon-trash", new { @fileId = item.FileID }))
                                    ))
    </div>
        }
</div>
</div>
