@model docbox.Models.DX_FILES

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DocumentLayout.cshtml";
}

<h2>Download Document</h2>

<script type="text/javascript">
    function isEncrypted(encrypted) {
        var selected = document.getElementById("dropdown").value;

        if (selected == "True") {
            document.getElementById("keyFile").disabled = false;
            document.getElementById("fileVersion").value = selected;
            document.getElementById("encStatus").value = "true";
        }
        else {
            document.getElementById("keyFile").disabled = true;
            document.getElementById("encStatus").value = "false";
        }
    }

</script>

@using (Html.BeginForm("Download", "Documents", FormMethod.Post,new {enctype="multipart/form-data"})){
<fieldset>

    <input type="hidden" name="fileId" value="@ViewData["fileId"]" />
    <input type="hidden" name="fileVersion" value=1 />
    <input type='hidden' name="encStatus" value="false" />
    <input type="hidden" name="originalCaller" value="@ViewData["originalCaller"]" />
    <div class="control-group">
    <label class="control-label"  for="file">File Name</label>
    <div class="control-group">
    @ViewData["fileName"]

    </div>
    </div>

    @{ 
        int count = 0;

        var fileversions = (bool[])ViewData["cryptoStatus"];
        foreach(bool fileversion in fileversions){
            count++;
        }
        bool[] version = new bool[count];
        for (int j = 0; j < count; j++){
            version[j] = fileversions[j];
        }
    }      

    <div class="control-group">
    <label class="control-label"  for="file">File Version</label>
    <div class="controls">
    <select onchange="isEncrypted()" name="selectdrop" id="dropdown">
    @{
        int i=0;
        for(i=0;i<count;i++){
         @Html.Raw("<option value=\"" + version[i] + "\">" + (i+1) + "</option>");  
        }
    string firstEle = "";
    if (!version[0])
    {
        firstEle = "disabled";
    }
        }
    </select>
    </div>
    </div>
    
    <div class="control-group">
    <label class="control-label"  for="file">Key File</label>
    <div class="controls">
            <input type="file" name="keyFile" id="keyFile" @Html.Raw(firstEle)/>
    </div>
</div>

            <div class="control-group">
           <div class="controls">
                        <input type="submit" value="Download" name="action:Details" class="btn btn-primary"/>
                        </div>
                        </div>

    
    @Html.ActionLink("Back to List", "@ViewData[\"originalCaller\"]")
    </fieldset>
    

    }