@model IEnumerable<docbox.Models.DX_FILES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Filename
        </th>
        <th>
            Owner
        </th>
        <th>
            Size
        </th>
        <th>
            Encrypted?
        </th>
        <th>
            Locked
        </th>
        <th>
            Format
        </th>
        <th>
            Created
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.filename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DX_USER1.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isencrypted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.islocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.fileid }) |
            @Html.ActionLink("Download", "Details", new { id=item.fileid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.fileid })
        </td>
    </tr>
}

</table>
