@model docbox.Models.ShareDocuments
@{
    ViewBag.Title = "Share";
    Layout = "~/Views/Shared/_DocumentLayout.cshtml";
}
<h2 class="text-info">
    Share</h2>
@using (Html.BeginForm())
{


    <div class="editor-label">
        <b>@Html.LabelFor(m => m.shareWithUsers)</b>
        @Html.ValidationMessageFor(m => m.shareWithUsers)
    </div>
    <div class="editor-field">
        @Html.ListBoxFor(m => m.shareWithUsers, new MultiSelectList(ViewBag.UsersList, "userid", "userid", Model.shareWithUsers), new { style = "height:200px" })
    </div>
    
     <div class="editor-label">
        <b>@Html.LabelFor(m => m.Files)</b>
    </div>
    <div class="editor-field">
    <ul>
    @foreach (docbox.Models.DX_FILES file in Model.Files)
    {
        <li>@file.filename</li>
    }
    
    </ul>
     </div>
    <div class="editor-label">
      <table>
      <tr><td>@Html.CheckBoxFor(m => m.update)</td>
      <td>@Html.LabelFor(m => m.update)</td>
       <td><span class="label label-success">Updating the meta-data of the file</span></td>
       </tr>
      </table>
      
    </div>
    <div class="editor-label">
       <table>
       <tr><td>@Html.CheckBoxFor(m => m.check)</td>   
       <td>@Html.LabelFor(m => m.check)</td> 
       <td><span class="label label-success">Updating a the current file</span></td>
       </tr></table>
    </div>
    <div class="control-group">
            <div class="controls">
                        <input type="submit" value="Share" name="action:ShareFiles" class="btn btn-primary"/>
                        </div>
                        </div>
   
}
