@model docbox.Models.ShareDocuments
@{
    ViewBag.Title = "Share";
    
}
<h2>
    Share</h2>
@using (Html.BeginForm())
{


    <div class="editor-label">
        @Html.LabelFor(m => m.shareWithUsers)
    </div>
    <div class="editor-field">
        @Html.ListBoxFor(m => m.shareWithUsers, new MultiSelectList(ViewBag.UsersList, "userid", "userid", Model.shareWithUsers))
    </div>
    
     <div class="editor-label">
        @Html.LabelFor(m => m.Files)
    </div>
    <div class="editor-field">
    <ul>
    @foreach (docbox.Models.DX_FILES file in Model.Files)
    {
        <li>@file.filename</li>
    }
    
    </ul>
     </div>
    <div class="editor-label">
       @Html.CheckBoxFor(m => m.read)
       @Html.LabelFor(m => m.read) 
    </div>
    <div class="editor-label">
       @Html.CheckBoxFor(m => m.write)
       @Html.LabelFor(m => m.write) 
    </div>
    <div class="editor-label">
       @Html.CheckBoxFor(m => m.update)
       @Html.LabelFor(m => m.update) 
    </div>
    <div class="editor-label">
       @Html.CheckBoxFor(m => m.check)
       @Html.LabelFor(m => m.check) 
    </div>
    <input type="submit" value="Share" name="action:ShareFiles"/>

}
