@model docbox.Models.ForgetPasswordModel
@{
    ViewBag.Title = "VerifySecret";
}

<h2>Answer following question</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
        
            <div class="editor-label">
               @Html.LabelFor(m => m.Squestion)
            </div>
            <div class="editor-label">
               @Html.DisplayTextFor(m => m.Squestion);
            </div>
        

            <div class="editor-label">
                @Html.LabelFor(m => m.Answer)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Answer)
                @Html.ValidationMessageFor(m => m.Answer)
            </div>
            
   
            <p>
                <input type="submit" value="Send Reset Code" />
            </p>
        </fieldset>
    </div>
    
    
}


